@import url('https://fonts.googleapis.com/css?family=Sigmar+One');

*{
  box-sizing: border-box;
  font-family: 'Sigmar One', tahoma;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}
html, body{
  height: 100vh;
  width: 100vw;
}
p{
  line-height: 18px;
}
div{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#overlay{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(100deg, #303F9F, #0059D1, #303F9F);
  z-index: 5;
  letter-spacing: 1px;
  /* font-family: 'Sigmar One' !important; */
}
#overlay h1{
  display: inline-block;
  font-size: 4rem;
  color: #FFA000;
}
#overlay button{
  margin-top: 1rem;
  background: #000;
  border: 0;
  border-radius: 4px;
  color: #FFA000;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
}
.overlay-inp{
  font-size: 2rem;
  padding: 5px 10px;
  background: linear-gradient(to right, #cc8000, #FFA000, #cc8000);
  color: #000;
  text-align: center;
  border: 0;
  border-radius: 4px;
}
.overlay-inp:focus{
  outline: none;
}
#content{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: #222;
  border-radius: 5px;
  overflow-y: scroll;
  border: 1px solid #CCC;
  margin-top: 10px;
  height: 70%;
}
#input{
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 5px;
  width: 400px;
}
#status{
  width: 88px;
  display: block;
  float: left;
  margin-top: 15px;
}
#instructions{
  margin-top: 30px;
}
.mess{
  width: fit-content;
  height: fit-content;
  min-width: 20%;
  max-width: 45%;
  border-radius: 5px;
  padding: 0px 15px 0px 5px;
  border: 2px solid #ccc;
  margin: 0 5px 5px 0;
}
.mess p:first-child{
  width: fit-content;
  margin-block-start: 0;
  color: #ddd;
}
.mess p:last-child{
  width: fit-content;
  margin-block-end: 0;
  color: #ddd;
  font-size: 0.8em;
}
.mine{
  align-self: flex-end;
  text-align: right;
}
.left{
  align-self: flex-start;
  text-align: left;
}
.userMan{
  width: 100%;
  text-align: center;
  width: 5px 0;
  margin: 5px 0;
  background: #555;
}
.addUser{
  color: #0BB3B7;
}
.removeUser{
  color: #F43434;
}